.product-detail {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .product-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .product-image img {
    max-width: 80%;
    max-height: 80vh;
  }
  
  .product-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* Align items at the top */
    margin-left: 5vw; /* Add margin between the columns */
  }

  .product-info h2 {
    margin-bottom: 0; /* Add margin below the product name */
    padding-bottom: 10vh;
  }
  
  .product-info p {
    margin-bottom: 2vh; /* Add margin below the product price */
  }
  
  .quantity-selection {
    display: flex;
    align-items: center;
    margin-bottom: 2vh; /* Add margin below the quantity selection */
  }
  
  .quantity-selection button {
    width: 4vw;
    height: 4vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: #f1f1f1;
    cursor: pointer;
    font-size: 2vw;
  }
  
  .quantity-selection span {
    font-size: 3vw;
    margin: 0 2vw; /* Add margin around the quantity counter */
  }
  
  button.addToCart {
    margin-top: 2vh; /* Add margin above the add to cart button */
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    cursor: pointer;
  }