.checkout {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.checkout h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.checkout-products {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.checkout-product {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.checkout-product-image {
  width: 80px;
  height: 80px;
  object-fit: cover;
  margin-right: 10px;
}

.checkout-product-details {
  display: flex;
  flex-direction: column;
}

.checkout-product-name {
  font-weight: bold;
}

.checkout-product-price {
  margin-top: 5px;
}

.checkout-product-quantity {
  margin-top: 5px;
}

.checkout-product-divider {
  width: 100%;
  height: 1px;
  background-color: #ccc;
  margin-bottom: 10px;
}

.checkout-total {
  font-weight: bold;
  margin-bottom: 20px;
}

.checkout-button {
    display: block;
    width: 30vw;
    padding: 15px;
    border: none;
    background-color: #0044ff;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    bottom: 100%;
    cursor: pointer;
}